<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'../'">
        <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">12 Hours Update</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let forecast of hourlyWeatherData">
          <ion-label>
            <h3>{{ convertEpochToDate(forecast.EpochDateTime) }}</h3>
            <p>Temperature: {{ forecast.Temperature.Value }} °C</p>
            <!-- <p>RealFeel®: {{ forecast.RealFeelTemperature.Value }} °C</p> -->
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
