<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'../'">
        <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Daily Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{ weatherData.forecastHeadline }}</ion-card-title>
      <ion-card-subtitle>
        <p>Forecast Headline Start: <time [attr.dateTime]="weatherData.forecastStart">{{ weatherData.forecastStart | date: 'yyyy-MM-dd HH:mm Z' }}</time></p> 
        <p>Forecast Headline End: <time [attr.dateTime]="weatherData.forecastEnd">{{ weatherData.forecastStart | date: 'yyyy-MM-dd HH:mm Z' }}</time></p> 
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>  
      <ion-list>
        <ion-item *ngFor="let forecast of weatherData.dailyForecasts">
          <ion-label>
            <h3>{{ forecast.Date | date: 'yyyy-MM-dd HH:mm Z' }}</h3>
            <p>Temperature: {{ forecast.Temperature.Maximum.Value }} °C</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
