// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
  --area-button-color-light: #000;
  --area-button-color-dark: #fff;
  --button-background-light: #ffffff; /* Light mode button background */
  --button-color-light: #000000;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
  --button-background-light: #ffffff; /* Light mode button background */
  --button-color-light: #000000;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
  --area-button-color-light: #000;
  --area-button-color-dark: #fff;
  --button-background-dark: #1c1c1d; /* Dark mode button background */
  --button-color-dark: #ffffff;
}