<ion-header>
  <ion-toolbar class="first-toolbar">
    <ion-button fill="clear" (click)="getCurrentLocation()" class="ion-text-center">{{ weatherData.englishName }}, {{ weatherData.adminName }}</ion-button>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="'/dailyforecasts'">Daily Forecasts</ion-button>
      <ion-button [routerLink]="'/hourlyupdates'">Hourly Forecast</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Current Weather Conditions</ion-card-title>
      <ion-card-subtitle class="ion-text-center">*Click for More Details*</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-start">Weather: {{ weatherData.weatherType }}</p> 
      <p class="ion-text-start">Temperature: {{ weatherData.temperatureMetric }} °C</p> 
      <p class="ion-text-start">RealFeel®: {{ weatherData.realfeelTempMetric }} °C</p> 
      <p class="ion-text-end">RealFeelShade®: {{ weatherData.realFeelShadeTempMetric }} °C</p>
      <p class="ion-text-end">UV Index: {{ weatherData.uvIndexNum }} {{ weatherData.uvIndexText }}</p> 
      <p class="ion-text-end">Wind: {{ weatherData.windDirection }} {{ weatherData.windSpeed }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>