<ion-content class="ion-padding background-image">
  <ion-toolbar class="first-toolbar">
    <ion-button fill="clear" (click)="getCurrentLocation()" class="ion-text-center custom-button">
      <ion-icon name="pin-outline"></ion-icon>
      {{ weatherData.englishName }}, {{ weatherData.adminName }}
    </ion-button>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="weatherData.weatherType">
    <h1 class="ion-text-center">It's {{ weatherData.weatherType }} and feeling {{ weatherData.realfeelPhraseMetric }}</h1>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start">
          Weather: {{ weatherData.weatherType }} <br /><br />
          Temperature: {{ weatherData.temperatureMetric }} °C <br /><br />
          RealFeel®: {{ weatherData.realfeelTempMetric }} °C <br />
        </ion-col>
        <ion-col class="ion-text-end">
          RealFeelShade®: {{ weatherData.realFeelShadeTempMetric }} °C <br /><br />
          UV Index: {{ weatherData.uvIndexNum }} {{ weatherData.uvIndexText }} <br /><br />
          Wind: {{ weatherData.windDirection }} {{ weatherData.windSpeed }} <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="ion-text-start" [routerLink]="'/dailyforecasts'">Daily Forecasts</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="ion-text-end" [routerLink]="'/hourlyupdates'">Hourly Forecast</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-content>