<ion-content class="ion-padding background-image">
  <ion-toolbar class="first-toolbar fixed-toolbar">
    <ion-button fill="clear" (click)="toggleSearchOverlay()" class="ion-text-center custom-button">
      <ion-icon name="pin-outline"></ion-icon>
      {{ weatherData.englishName }}, {{ weatherData.adminName }}
    </ion-button>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'" class="custom-button">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-backdrop *ngIf="isSearchOverlayVisible" (click)="toggleSearchOverlay()" class="search-backdrop"></ion-backdrop>
  <div *ngIf="isSearchOverlayVisible" class="search-overlay" (click)="$event.stopPropagation()">
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>
                Enter a Location
              </ion-card-title>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-button fill="clear" (click)="toggleSearchOverlay()" class="ion-text-end toggle-search-button">
                <ion-icon name="exit-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchChange($event)"></ion-searchbar>
        <ion-list>
          <ion-item>
            <ion-button fill="clear" (click)="getCurrentLocation()">
              <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
              Get Your Current Location
            </ion-button>
          </ion-item>
          <ion-item *ngFor="let place of locationsArray">
            <ion-button fill="clear" (click)="selectLocation(place.Key)">
              {{ place.LocalizedName }}, {{ place.AdministrativeArea.LocalizedName }}
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="body" *ngIf="weatherData.weatherType">
    <ion-card class="current-conditions-card">
      <ion-card-title>
        <h1 class="ion-text-center">
          <img [src]="'assets/daytime/' + (weatherData.weatherIcon || '1') + '.png'" alt="Weather Icon" class="weather-icon" />
          It's {{ weatherData.weatherType }} while feeling {{ weatherData.realfeelPhraseMetric }}
        </h1>
      </ion-card-title>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-start">
              <p *ngIf="tempChoice === 'Celcius'">
                Temperature: {{ weatherData.temperatureMetric }} °C <br /><br />
                RealFeel®: {{ weatherData.realfeelTempMetric }} °C <br />
              </p>
              <p *ngIf="tempChoice === 'Fahrenheit'">
                Temperature: {{ weatherData.temperatureImperial }} °F <br /><br />
                RealFeel®: {{ weatherData.realfeelTempImperial }} °F <br />
              </p>
            </ion-col>
            <ion-col class="ion-text-end">
              <p *ngIf="tempChoice === 'Celcius'">
                RealFeelShade®: {{ weatherData.realFeelShadeTempMetric }} °C <br /><br />
              </p>
              <p *ngIf="tempChoice === 'Fahrenheit'">
                RealFeelShade®: {{ weatherData.realFeelShadeTempImperial }} °F <br /><br />
              </p>
              UV Index: {{ weatherData.uvIndexNum }} {{ weatherData.uvIndexText }} <br /><br />
              Wind: {{ weatherData.windDirection }} {{ weatherData.windSpeed }} <br />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="hourly-updates">
      <ion-card-title><h1 class="ion-text-center">12 Hours Updates</h1></ion-card-title>
      <ion-card-content>
        <swiper-container pagination="true" space-between="10" slides-per-view="3">
          <swiper-slide *ngFor="let hour of hourlyWeatherData">
            <ion-grid>
              <ion-row style="margin-bottom: 30px;">
                <ion-col><h4>{{ convertEpochToHour(hour.EpochDateTime) }}</h4></ion-col>
                <ion-col><img [src]="'assets/daytime/' + (hour.WeatherIcon || '1') + '.png'" alt="Weather Icon" class="weather-icon" /></ion-col>
                <ion-col><p>Temperature: {{ hour.Temperature.Value }} °C</p></ion-col>
              </ion-row>
            </ion-grid>
          </swiper-slide>
        </swiper-container>
      </ion-card-content>
    </ion-card>

    <ion-card class="daily-forecast">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ weatherData.forecastHeadline }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <ion-list>
          <ion-item *ngFor="let day of weatherData.dailyForecasts">
            <ion-label *ngIf="tempChoice === 'Celcius'">
              <h3>{{ convertEpochToDay(day.EpochDate) }}</h3>
              <p>{{ day.Temperature.Maximum.Value }} °C <img [src]="'assets/daytime/' + (day.Day.Icon || '1') + '.png'" alt="Weather Icon" class="weather-icon" /> <img [src]="'assets/daytime/' + (day.Night.Icon || '1') + '.png'" alt="Weather Icon" class="weather-icon" /></p>
            </ion-label>
            <ion-label *ngIf="tempChoice === 'Fahrenheit'">
              <h3>{{ convertEpochToDay(day.EpochDate) }}</h3>
              <p>Temperature: {{ day.Temperature.Maximum.Value }} °F <img [src]="'assets/daytime/' + (day.Day.Icon || '1') + '.png'" alt="Weather Icon" class="weather-icon" /></p>
            </ion-label> 
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>